/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   padding: 0;
   margin: 0;
   font-family: 'PT Sans', sans-serif;
 }

 h1, h2, h3, h4 {
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   margin: 0;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 button, input[type=submit] {
  outline: none;
  border: none;
 }

input[type=text], input[type=password] {
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  border: 1px solid rgb(250, 250, 250);
  height: 48px;
  padding: 15px 20px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
}
input[type=text]:focus, input[type=password]:focus {
  border: 1px solid rgb(33, 206, 153);
  
}

.link {
  display: inline;
  text-decoration: underline;
  color: rgb(33, 206, 153);
}
.link:hover {
  color: #1ae9aa;
}

.btn {
  color: black;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.btn.thin {
  font-weight: 400;
}

.highlight {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: rgb(33, 206, 153);
  background-color: rgb(231, 248, 243);
  padding: 0 7px;
  margin-left: 6px;
  height: 24px;
  border-radius: 2px;
}

.rect-btn {
  font-size: 13px;
  background-color: rgb(33, 206, 153);
  height: 48px;
  padding: 0 48px;
  border-radius: 4px;
  color: white;
  width: 140px;
  box-sizing: border-box;
}

.round-btn {
  font-size: 17px;
  font-weight: 700;
  background-color: rgb(33, 206, 153);
  height: 48px;
  padding: 0 24px;
  border-radius: 24px;
  color: white;
  box-sizing: border-box;
}

.row {
  display: flex;
}

.green-text {
  color: rgb(33, 206, 153);
}


.nav {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 100vw;
  box-sizing: border-box;
}

.nav .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1192px;
}

.nav .left, .nav .right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.splash-page .nav .left .btn {
  margin-right: 36px;
}
.splash-page .nav .right .btn {
  margin-left: 36px;
}



.dashboard-page .wrapper {
  padding-top: 64px;
}
  
.dashboard-page .nav {
  height: 64px;
}

.dashboard-page .nav .inner {
  width: 1024px;
}

.dashboard-page .nav .btn {
  color: #171718;
  font-size: 13px;
  font-weight: 400;
}

.dashboard-page .nav .right {
  flex: 0 0 125px;
}

.search {
  height: 36px;
}

.search-wrapper {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(240, 240, 240);
  width: 478px;
  box-sizing: border-box;
  font-size: 13px;
  transition: all 300ms ease-in-out;
  z-index: 10;
}

.search input[type=text] {
  height: 36px;
  width: 100%;
  border: 1px solid transparent;
  background-color: white;
  font-size: 13px;
}

.search-wrapper:hover, .search-wrapper.focused {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
  border: 1px solid transparent;
} 

.search-dropdown {
  padding: 0 20px;
} 



.search-list-item {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.search-list-item > *:first-child {
  width: 60px;
}






.account-dropdown {
  position: absolute;
  right: 0;
  top: 72px;
  width: 296px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
}

.account-dropdown button {
  height: 48px;
  width: 100%;
  text-align: left;
}






.splash-page .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}
.splash-page .section-one {
  display: flex;
  width: 1192px;
  height: 740px;
}
.splash-page .section-one .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 310px;
}

.splash-page .section-one .left h1 {
  font-size: 46px;
}
.splash-page .section-one .left p {
  line-height: 26px;
}
.splash-page .section-one .right {
  flex: 0 0 922px;
  display: flex;
  justify-content: center;
}
.splash-page .section-one .right img {
  max-width: 100%;
  height: 720px;
}


.splash-page .section-two {
  display: flex;
  /* background-color: black; */
  width: 1224px;
  height: 276px;
  background-image: url(https://d2ue93q3u507c2.cloudfront.net/assets-about/48af77f3599ef4831f0a65762b85db63.png);
  background-size: cover;
}

.splash-page .section-two h3 {
  max-width: 360px;
  font-size: 34px;
  font-weight: 700;
  color: white;
  padding: 86px 32px;
}



.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-page .wrapper {
  width: 675px;
}
  
.signup-page form {
  display: flex;
  flex-direction: column;
}

.signup-page input[type=text], .signup-page input[type=password] {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(177, 191, 196);
  padding: 15px 20px;
}
.signup-page input[type=text]:focus, .signup-page input[type=password]:focus {
  border: 1px solid rgb(33, 206, 153) !important; 
}
.signup-page h1 {
  font-size: 48px;
  font-weight: 100;
}

.signup-page h2 {
  font-size: 24px;
  font-weight: 100;
}

.signup-page .rect-btn {
  width: 100%;
  margin-top: 24px;
}

.signup-page p {
  color: #b1bfc4;
  text-align: center;
  margin-top: 40px;
}





.login-page {
  display: flex;
  min-height: 100vh;
}

.login-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex: 1;
  height: 100%;
  margin-left: 52px;
  min-height: 100vh;
}

.login-main-content h1 {
  font-size: 26px;
}

.login-main-content .row {
  margin-top: 60px;
}

.login-main-content .rect-btn {
  margin-right: 15px;
}

.login-main-content label {
  display: block;
  font-size: 13px;
  letter-spacing: 0.25px;
  padding-bottom: 9px;
}

.login-side-image {
  height: 100vh;
  background-image: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/94977d34f99015525dcd0fc9987fcbe6.png);
  background-size: cover;
  flex: 1;
}

.login-main-content input[type=text], .login-main-content input[type=password] {
  width: 412px;
}




