/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   padding: 0;
   margin: 0;
   font-family: 'PT Sans', sans-serif;
 }

 h1, h2, h3, h4, p {
   padding: 0;
   margin: 0;
 }

 a {
   text-decoration: none;
   margin: 0;
   padding: 0;
   color: inherit;
 }


 .flex-centered {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 button, input[type=submit] {
  outline: none;
  border: none;
 }

input[type=text], input[type=password] {
  background-color: rgb(250, 250, 250);
  border-radius: 4px;
  border: 1px solid rgb(250, 250, 250);
  height: 48px;
  padding: 15px 20px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
}
input[type=text]:focus, input[type=password]:focus {
  border: 1px solid rgb(33, 206, 153);
  
}

.link {
  display: inline;
  text-decoration: underline;
  color: rgb(33, 206, 153);
}
.link:hover {
  color: #1ae9aa;
}

.btn {
  color: black;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  color: rgb(33, 206, 153);
}

.btn.selected.green {
  color: rgb(33, 206, 153);
  border-bottom: 2px solid rgb(33, 206, 153);
}
.btn.selected.red {
  color: rgb(255, 99, 64);
  border-bottom: 2px solid rgb(255, 99, 64);
}

.btn.thin {
  font-weight: 400;
}

.btn.rect-btn {
  font-size: 13px;
  background-color: rgb(33, 206, 153);
  /* height: 48px; */
  padding: 16px 48px;
  border-radius: 4px;
  color: white;
  box-sizing: border-box;
}

.btn.round-btn {
  font-size: 17px;
  font-weight: 700;
  background-color: rgb(33, 206, 153);
  padding: 12px 24px;
  border-radius: 24px;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

.btn.outline-btn {
  font-size: 13px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid rgb(33, 206, 153);
  padding: 15px 15px;
  border-radius: 4px;
  color: rgb(33, 206, 153);
  box-sizing: border-box;
  
}

.row {
  display: flex;
}

.green-text {
  color: rgb(33, 206, 153);
}

.highlight {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: rgb(33, 206, 153);
  background-color: rgb(231, 248, 243);
  padding: 0 7px;
  margin-left: 6px;
  height: 24px;
  border-radius: 2px;
}

.grey-border-bottom {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}


.nav {
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  width: 100vw;
  box-sizing: border-box;
}

.nav .inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1192px;
}

.nav .left, .nav .right {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}




.main-content {
  width: 676px;
}

.sidebar {
  width: 275px;
}



.splash-page .nav .left .btn {
  margin-right: 36px;
}
.splash-page .nav .right .btn {
  margin-left: 36px;
}

.search {
  height: 36px;
}

.search-wrapper {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(240, 240, 240);
  width: 478px;
  box-sizing: border-box;
  font-size: 13px;
  transition: all 300ms ease-in-out;
  z-index: 10;
}

.search input[type=text] {
  height: 36px;
  width: 100%;
  border: 1px solid transparent;
  background-color: white;
  font-size: 13px;
}

.search-wrapper:hover, .search-wrapper.focused {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
  border: 1px solid transparent;
} 

.search-dropdown {
  /* padding: 0 20px; */
} 



.search-list-header {
  color: rgb(180,180,180);
  font-weight: 700;
  padding: 10px 20px;
} 

.search-list-item {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 5px 20px;
}

.search-list-item:hover {
  background-color: rgba(0,0,0,0.03);
}

.search-list-item > *:first-child {
  width: 60px;
}





.account-dropdown {
  position: absolute;
  right: 0;
  top: 64px;
  width: 296px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
  background-color: white;
}
.account-dropdown header {
  padding: 24px;
}
.account-dropdown header .row {
  justify-content: space-between;
  margin-top: 12px;
}
.account-dropdown header h3 {
  font-size: 16px;
}
.account-dropdown header p {
  font-size: 13px;
}

.account-dropdown .btn {
  height: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 0 24px;
}
.account-dropdown button:hover {
  background-color: rgba(0,0,0,0.03);
}




.dashboard-page .wrapper, .asset-page .wrapper {
  padding-top: 64px;
}
  
.dashboard-page .nav, .asset-page .nav{
  height: 64px;
}

.dashboard-page .nav .inner, .asset-page .nav .inner{
  width: 1024px;
}

.dashboard-page .nav .btn, .asset-page .nav .btn{
  color: #171718;
  font-size: 13px;
  font-weight: 400;
}

.dashboard-page .nav .right, .asset-page .nav .right{
  flex: 0 0 125px;
}





.dashboard-page .wrapper, .asset-page .wrapper {
  display: flex;
  justify-content: center;
}

.dashboard-page .wrapper .inner, .asset-page .wrapper .inner {
  width: 1024px;
  padding-top: 36px;
  display: flex;
  justify-content: space-between;
}




.watchlist, .order-form {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.01), 0 3px 24px rgba(48, 51, 51, 0.09);
  border-radius: 2px;
}
.watchlist-heading {  
  padding: 15px 24px;
  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.watchlist-heading h2 {  
  font-size: 16px;
}
.watchlist-item:hover {
  background-color: #fafafa;
}
.watchlist-item h3 {  
  font-size: 14px;
}
.watchlist-item p {  
  font-size: 16px;
}
.watchlist-item {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
}




.time-range-container {
  margin: 24px 0 12px 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.time-range-container .btn {
  font-size: 13px;
  padding: 0 0 12px 0;
  margin: 0 12px;
}





.about-container {
  margin-top: 44px;
}

.about-container .heading {
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.about-container h2 {
  font-size: 30px;
  font-weight: 400;
}





.asset-chart-container h1 {
  font-size: 36px;
  font-weight: 600;
}
.asset-chart-container h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 4px;
}
.asset-chart-container p {
  font-size: 14px;
  font-weight: 400;
}

.asset-chart {
  display: inline-block;
  margin-top: 30px;
  width: 676px;
}
#chart {
  background-image: linear-gradient(to right, black 20%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}



.order-form {
  transition: height 5000ms ease-in-out;
}
.order-form .heading {
  padding: 4px 24px 0 24px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin-bottom: 12px;
}
.order-form .heading .btn {
  font-size: 16px;
  padding: 14px 0;
  margin-right:12px;
}
.order-form .row {
  justify-content: space-between;
  padding: 0 24px;
  align-items: center;
  height: 48px;
}
.order-form p {
  font-size: 13px;
  padding-right: 12px;
  font-weight: 700;
}
.order-form label {
  font-size: 13px;
}
.order-form input[type=text] {
  height: 36px;
  width: 82px;
  font-size: 13px;
  text-align: right;
  padding: 0 13px;
}
.order-form .review-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}
.order-form .review-button-container .btn {
  width: 100%;
  margin-bottom: 12px;
}

.order-form .review-text {
  padding: 12px 24px 0 24px;
}
.order-form .review-text p {
  font-size: 14px;
  font-weight: 400;
}

.watchlist-btn {
  margin: 24px;
  width: calc(100% - 48px);
}





.splash-page .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 72px;
}
.splash-page .section-one {
  display: flex;
  width: 1192px;
  height: 740px;
}
.splash-page .section-one .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 310px;
}

.splash-page .section-one .left h1 {
  font-size: 46px;
  margin-bottom: 36px;
}
.splash-page .section-one .left p {
  line-height: 26px;
  margin-bottom: 36px;
}
.splash-page .section-one .right {
  flex: 0 0 922px;
  display: flex;
  justify-content: center;
}
.splash-page .section-one .right img {
  max-width: 100%;
  height: 720px;
}
.splash-page .section-one .btn {
  align-self: flex-start;
}


.splash-page .section-two {
  display: flex;
  /* background-color: black; */
  width: 1224px;
  height: 276px;
  background-image: url(https://d2ue93q3u507c2.cloudfront.net/assets-about/48af77f3599ef4831f0a65762b85db63.png);
  background-size: cover;
}

.splash-page .section-two h3 {
  max-width: 360px;
  font-size: 34px;
  font-weight: 700;
  color: white;
  padding: 86px 32px;
}



.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-page .wrapper {
  width: 675px;
}
  
.signup-page form {
  display: flex;
  flex-direction: column;
}

.signup-page input[type=text], .signup-page input[type=password] {
  flex: 1;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgb(177, 191, 196);
  padding: 15px 20px;
}
.signup-page input[type=text]:focus, .signup-page input[type=password]:focus {
  border: 1px solid rgb(33, 206, 153) !important; 
}
.signup-page h1 {
  font-size: 48px;
  font-weight: 100;
}

.signup-page h2 {
  font-size: 24px;
  font-weight: 100;
}

.signup-page .rect-btn {
  width: 100%;
  margin-top: 24px;
}

.signup-page p {
  color: #b1bfc4;
  text-align: center;
  margin-top: 40px;
}





.login-page {
  display: flex;
  min-height: 100vh;
}

.login-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  flex: 1;
  height: 100%;
  margin-left: 52px;
  min-height: 100vh;
}

.login-main-content h1 {
  font-size: 26px;
}

.login-main-content .row {
  margin-top: 60px;
}

.login-main-content .rect-btn {
  margin-right: 15px;
}

.login-main-content label {
  display: block;
  font-size: 13px;
  letter-spacing: 0.25px;
  padding-bottom: 9px;
}

.login-side-image {
  height: 100vh;
  background-image: url(https://d2ue93q3u507c2.cloudfront.net/assets/generated_assets/94977d34f99015525dcd0fc9987fcbe6.png);
  background-size: cover;
  flex: 1;
}

.login-main-content input[type=text], .login-main-content input[type=password] {
  width: 412px;
}




